<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - quizal.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <ul class="navbar-nav">
                <li class="nav-item active"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" title="Home">Home</a></li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Quiz" asp-action="CreateQuiz" title="Create Quiz">Quiz</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Question" asp-action="AddQuestion" title="Add Question">Add Question</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="QuestionSuggestion" asp-action="AllSuggestions" title="All Suggestions">All Suggestions</a></li>
                 }
                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="QuestionSuggestion" asp-action="SuggestQuestion" title="Suggest questions">Suggest questions</a></li>
                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Achievement" asp-action="AllAchievements" title="Achievements">Suggest questions</a></li>
                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Ranklist" title="Ranklist">Rank list</a></li>
                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="UserResult" asp-action="MyResults">My Results</a></li>
                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Achievement" asp-action="MyAchievements">My Achievements</a></li>
                <li class="nav-item"><partial name="_LoginPartial" /></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - quizal.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
